POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=photoshare
DATABASE_URL=postgresql+asyncpg://postgres:your_password@db:5432/photoshare

SECRET_KEY=your_super_secret_jwt_key
ALGORITHM=HS256

CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_password
MAIL_FROM=your_email@gmail.com
MAIL_PORT=465
MAIL_SERVER=smtp.gmail.com